<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iazmoon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <iazmoon.Properties.Settings>
            <setting name="iazmoon_adminManage_management" serializeAs="String">
                <value>http://localhost:1442/iazmoon/management.asmx</value>
            </setting>
        </iazmoon.Properties.Settings>
    </applicationSettings>
</configuration>